:root {
    --grisClaro: #e1e1e1;
    --blanco: #fff;
    --negro: #000;
    --textoEnlace: #31a1ff;
    --textoTitulo: #75c328;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.6rem;
}

img {
    max-width: 100%;
}

.fw {
    font-weight: bold;
}

.titulo {
    text-transform: uppercase;
}

.color-titulo {
    color: var(--textoTitulo);
}

.centrar-texto {
    text-align: center;
}

.bg {
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}

.bg-inverse {
    background-image: linear-gradient(to bottom, var(--grisClaro) 0%, var(--blanco) 100%);
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.no-margin {
    margin: 0;
}

/* Header */
.header {
    margin-bottom: 4rem;
    border-bottom: 1px solid var(--grisClaro);
}

/* Barra */
.barra {
    margin-top: 4rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.titulo-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px){
    .titulo-img {
        flex-direction: row;
        gap: 1rem;
    }
}

/* Navegación */
@media (min-width: 768px){
    .navegacion {
        display: flex;
        gap: 1rem;
    }
}

@media (min-width: 768px){
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

.navegacion__enlace,
.nav__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--negro);
    padding: 1rem;
}

.navegacion__enlace:hover {
    color: var(--textoEnlace);
    background-color: var(--negro);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.nav__enlace:hover {
    color: var(--textoTitulo);
    background-color: var(--negro);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.l-h {
    line-height: 2.5;
}

/* Contenido principal */
.bb {
    border-bottom: 1px solid var(--grisClaro);
}

.contenido-principal p {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}

.contenedor-imagen img {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .contenedor-imagen {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.m-b {
    margin-bottom: 2rem;
}

.m-t {
    margin-top: 4rem;
}

@media (min-width: 768px){
    .contenedor-biñetas {
        display: flex;
        gap: 1rem;
    }
}

/* Footer */
.footer {
    margin-top: 5rem;
    border-top: 1px solid var(--grisClaro);
}